.row
  .span12
    = image_tag "code.png"                    
.row-fluid.beginners
  .span4
    %h1 For biology
    %p Ruby is easy to learn and lets you solve problems quickly
  .span4
    %h1 For bioinformatics
    %p Bioruby is a powerful and robus library for parsing files, interacting with databases and more
  .span4
    %h1 For coding
    %p Bioruby has a plugin system that is designed to let you contribute code as easily and as quickly as possible

.row-fluid.announcements
  .span12
    %h1 Announcements



