.container {
  box-shadow: 0 0 60px rgba(0,0,0,.2);
}

.navbar {
  //is in bootstrap.css, but needs to be removeed
  margin-bottom: 0px;
}

.navbar-inner {
  background-color: #2E3434;
  background-image: -moz-linear-gradient(top, #333333, #2E3434);
  background-image: -ms-linear-gradient(top, #333333, #2E3434);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#2E3434));
  background-image: -webkit-linear-gradient(top, #333333, #2E3434);
  background-image: -o-linear-gradient(top, #333333, #2E3434);
  background-image: linear-gradient(top, #333333, #2E3434);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#2E3434', GradientType=0);
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0), inset 0 0px 0 rgba(0, 0, 0, 0);
}

.main {
  border-right: 1px solid #B1B1B1;
  border-bottom: 1px solid #B1B1B1;
  border-left: 1px solid #B1B1B1;
  margin-top: 2.5em;
}

.beginners, .announcements {
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
}

